.page {padding-top: 20px; text-align: left; line-height: 22px;}
.page .left {width: 540px}
.page .pic {width:440px; float:left; display: inline}
.page .picl {width:90px; margin-left: 450px }
.page .picl .top,.page .picl .bottom{ width: 90px; height: 30px; overflow: hidden; line-height: 30px; text-align:center; color: #ccc; background: #f4f4f4; display: block; font-size: 18px; text-decoration: none}
.page .picl .top:hover,.page .picl .bottom:hover { color: #666;text-decoration: none}
.page .picl ul li{ margin-top: 10px; width: 90px; height: 90px;}
.page .picl .bottom{ margin-top: 10px;}
.bdsharebuttonbox{ float: left; display: inline;margin-top:-5px;}
.page .zf{ height: 20px; line-height: 20px; text-align: left;padding:10px 0; font-size: 14px; color: #999}
.page .zf p{ float:left;height: 20px;}
.page .zf em{ color: #333}
.attribute{ margin-left: 560px;zoom:1; overflow: hidden}
.attribute h1{ font-size: 18px; color: #000; line-height: 24px; margin-top: -3px;}
.attribute p{ font-size: 14px; color: #999; padding: 10px 0; border-bottom: 1px dotted #d4d4d4; margin-bottom: 5px;}
.attribute dl { padding-top: 7px; text-align: left; color: #999; font-size: 13px; line-height:30px;}
.attribute dt {float: left; display: inline; width:65px; }
.attribute dd { margin-left: 70px; color: #333}
.attribute dd em.price { color: #ee3c3c; font-size: 22px;}
.attribute dd em.tp1,.attribute dd em.tp2 { color: #333; font-size: 12px; width: 22px; height: 24px; display: inline-block; overflow: hidden; text-align: center; border: 1px solid #d4d4d4; margin-right: 5px; vertical-align: middle; cursor: pointer}
.attribute dd .count{ height: 24px; width: 42px; border: 1px solid #d4d4d4; margin-right: 5px; text-align: center;}
.attribute dd .list {width: 170px; height: 24px; display: inline-block; }
.attribute dd .list .default{width:160px; overflow: hidden;margin: 0;padding-left: 10px;border: 1px solid #d4d4d4; cursor: pointer }
.attribute dd .list .address{width:140px; overflow: hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;display: inline-block; vertical-align: middle }
.attribute dd .list .default em.arrows { display: inline-block; vertical-align: middle;padding: 0; width: 12px; height: 12px; line-height: 12px;}
.attribute dd .list ul {border: 1px solid #d4d4d4;width: 170px;display: none}
.attribute dd .list ul li {  padding-left: 10px;overflow: hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
.attribute dd .list ul li.even { background: #e2e2e2; padding-left: 10px;overflow: hidden;text-overflow:ellipsis;-o-text-overflow:ellipsis;white-space:nowrap;}
.attribute .btns { padding-top: 30px}
.attribute .btns a{ display: inline-block; height: 40px; line-height: 40px; text-align: center
; width: 136px; color: #fff; margin-right:10px; font-size: 16px; border: 1px solid #d4d4d4}
.attribute .btns a.btn-gwc { background: #c00017; color: #fff;border: 1px solid #c00017z}
.attribute .btns a.btn-sc { background: #f5f5f5; color: #6a6a6a}
.attribute .btns a:hover { text-decoration: none}
.attribute .btns a.btn-gwc:hover { background: #990012; }
.attribute .btns a.btn-sc:hover { background: #e8e8e8; }
.histroy .box{ overflow: hidden}
ul.merlist {width: 105%;}
ul.merlist li{margin: 10px 10px 0 0; width: 190px; float: left;display: inline; overflow: hidden; text-align: left}
ul.merlist li a{ text-decoration: none}
ul.merlist li a:hover h2{ color: #ee3c3c}
ul.merlist li a:hover p{ color: #ee3c3c}
ul.merlist li a:hover img {border: 1px solid #ee3c3c; }
ul.merlist li img {border: 1px solid #e7e7e7; display: block; margin: 0 auto 3px;}
ul.merlist h2 {font-family: "\9ED1\4F53"; font-size: 18px; height: 30px; line-height: 30px; color: #333; overflow:hidden;}
ul.merlist p.txt { line-height: 18px; color:#8d8d8d; height:36px; overflow:hidden; }
ul.merlist p.prices {padding-top: 10px}
ul.merlist p.prices em {font-family:"Arial"; font-weight: bold; font-size: 22px; color: #ee3c3c}

.histroy{padding-top: 40px;}
.histroy .title { border-top: 1px solid #dadada; text-align: center; height: 40px; }
.histroy .title span {  height: 40px; line-height: 40px; padding:0 10px; border-top: 1px solid #333; margin-top: -1px; font-size: 14px; color: #333; display: inline-block}
.histroy .hislist .hisbtn {text-align: center; border-bottom: 1px solid #dadada; line-height: 40px}
.histroy .hislist .hisbtn span { border-bottom: 1px solid #333; display: inline-block;padding: 20px 10px; height: 30px}
.histroy .hislist .hisbtn em{ height: 12px;width: 12px; background: #cacaca; border-radius: 6px; display: inline-block; margin: 0 10px; cursor: pointer;vertical-align: middle}
.histroy .hislist .hisbtn em.cur{ background: #959595; }
.histroy .hislist .details{font-size: 14px; color: #333; padding-top: 10px; margin-bottom:50px;}

.mypage { color: #4d4d4d;font-family: "宋体";font-size: 14px;padding: 10px 0;text-align: right; margin-top: 20px;}
.mypage .page_number.cur { background: none repeat scroll 0 0 #eaeaea;border-radius: 14px;text-align: center;width: 28px;}
.mypage a { color: #4d4d4d; display: inline-block;height: 28px;line-height: 28px;margin-left: 10px;vertical-align: middle;}

.commentlist { border-top: 1px solid #dadada;margin-top: 50px;overflow: hidden}
.commentlist .comment_t{display: inline-block; padding:10px 25px 0; margin: 0 auto;font-size: 14px; color: #333; border-top: 1px solid #333;}
.commentlist dl { padding: 30px 0; border-bottom: 1px dotted #d4d4d4; margin-bottom: -1px; }
.commentlist dl dt {width: 80px; float: left; text-align: left}
.commentlist dl dt img{width: 65px; height: 65px}
.commentlist dl dd {margin-left: 80px; text-align: left; line-height: 26px; color: #262626}
.commentlist dl dd a {color: #999}
.commentlist dl dd .userctime{ color: #999}
